@using static Telerik.Blazor.ThemeConstants
@using vCardLib.Enums
@using vCardLib.Models
@using vCardLib.Serialization
@inject SessionCache SessionCache

<HeadContent>
	<style>
			label {
				font-weight: bold;
			}
	</style>
</HeadContent>

<div class="content">
	<div class="row my-1">
		<div class="col-sm-4"> <label for="forecolor">Foreground Color:</label></div>
		<div class="col-sm-8">
			<TelerikColorPicker id="forecolor" @bind-Value="@Forecolor" ValueFormat="@ColorFormat.Rgb">
				<ColorPickerViews>
					<ColorPickerPaletteView Colors="@ColorPalettePresets.Basic" />
					<ColorPickerGradientView ShowOpacityEditor="false" />
				</ColorPickerViews>
			</TelerikColorPicker>
		</div>
	</div>

	<div class="row my-1">
		<div class="col-sm-4"><label for="backcolor">Background Color:</label></div>
		<div class="col-sm-8">
			<TelerikColorPicker Id="backcolor" @bind-Value="@Backcolor" ValueFormat="@ColorFormat.Rgb">
				<ColorPickerViews>
					<ColorPickerPaletteView Colors="@ColorPalettePresets.Basic" />
					<ColorPickerGradientView ShowOpacityEditor="false" />
				</ColorPickerViews>
			</TelerikColorPicker>
		</div>
	</div>

	<div class="row my-1">
		<div class="col-sm-4"><label for="ProfileImage">Logo:</label></div>
		<div class="col-sm-8">
			<InputFile id="ProfileImage" class="form-control" accept=".png,.jpg,.jpeg,.gif" OnChange="HandleLogo" />
			@if (!string.IsNullOrEmpty(FileErrorMessage))
			{
				<div class="validation-message">@FileErrorMessage</div>
			}
		</div>
	</div>
</div>

<QrCode VCard="@SessionCache.VCard" Forecolor="@Forecolor" Backcolor="@Backcolor" Logo="LogoImage" />

<CascadingValue Name="SessionCache" Value="@SessionCache">
	<CardContent />
</CascadingValue>

@code {

	string Forecolor = "rgb(0,0,0)";
	string Backcolor = "rgb(255, 255, 255)";

	string FileErrorMessage = string.Empty;
	
	byte[] LogoImage = [];

	protected async Task HandleLogo(InputFileChangeEventArgs e)
	{

		FileErrorMessage = string.Empty;
		var file = e.File;
		if (file is null) return;

		// check file size
		if (file.Size > 1024 * 1024)
		{
			FileErrorMessage = "Uploaded logo is too large.  Max file size 1MB";
			return;
		}

		var stream = new StreamContent(file.OpenReadStream(1024 * 1024));
		LogoImage = await stream.ReadAsByteArrayAsync();

	}

}
